@use '../abstracts/variables';

/* ----------- TIPOGRAFÍAS ----------- */

body {
  font-family: $font-main;
  color: $text-color;
}

h2 {
  font-size: 3rem;
  color: variables.$primary;
  text-align: center;
}