@use '../abstracts/variables';
@use '../abstracts/mixins';

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.card {
  background: white;
  overflow: hidden;
  transition: transform .3s;

  @include mixins.card-style(16px);

  &:hover {
    transform: translateY(-8px);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h3 {
    font-size: 26px;
    margin: 15px 0;
    color: variables.$primary;
  }

  p {
    padding: 0 15px;
  }
}
