@use '../abstracts/variables';

.faqs {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  font-family: variables.$font-main;
  color: variables.$text-color;

  details {
    background: variables.$purple-soft;
    padding: 15px 20px;
    margin-bottom: 15px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid variables.$secondary;
    transition: 0.3s;

    &:hover {
      background: variables.$purple-light;
    }

    &[open] {
      background: variables.$bg-general;
      border-color: darken(variables.$bg-general, 20%);
    }

    p {
      margin-top: 12px;
      line-height: 1.6;
    }
  }

  summary {
    font-weight: 600;
    font-size: 1.1rem;
    list-style: none;

    &::-webkit-details-marker {
      display: none;
    }
  }
}

// Responsive
@media (max-width: 600px) {
  .faqs {
    padding: 15px;

    details {
      padding: 12px 15px;

      summary {
        font-size: 1rem;
      }
    }
  }
}