@use '../abstracts/mixins';

.galeria {
  padding: 60px 40px;
  text-align: center;

  &-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;

    @media (max-width: 450px) {
      grid-template-columns: 1fr;
      gap: 20px;
    }
  }

  &-item {
    overflow: hidden;
    @include mixins.card-style(14px);

    img {
      width: 100%;
      height: 500px;
      object-fit: cover;
      transition: transform 0.4s ease-out;

      @media (max-width: 768px) {
        height: 260px;
      }
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
