@use '../abstracts/mixins';

.galeria {
  padding: 60px 40px;
  text-align: center;

  &-grid {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }

  &-item {
    overflow: hidden;
    @include mixins.card-style(14px);

    img {
      width: 100%;
      height: 350px;
      object-fit: cover;
      transition: transform 0.4s ease-out;
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}
