@use '../abstracts/variables';

.caminatas {
  padding: 60px 40px;
  text-align: center;

  h2 {
    font-size: 48px;
    margin-bottom: 40px;
    color: variables.$primary;
  }
}

/* CARDS */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px;
}

.card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  transition: transform .3s;

  &:hover {
    transform: translateY(-8px);
  }

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  h3 {
    font-size: 26px;
    margin: 15px 0;
    color: variables.$primary;
  }

  p {
    padding: 0 15px;
  }
}



.titulo-caminata {
  color: variables.$primary;
  text-align: center;
  margin-bottom: 15px;
}

.caminata-info {
  background: #f9f3ff;
  border-top: 2px solid variables.$primary;
  border-bottom: 2px solid variables.$primary;
}

.iframe-caminatas {
  display: flex;
  justify-content: center;
}
