@use '../abstracts/variables';

.contacto {
    padding: 60px 20px;
    text-align: center;

    h2 {
        color: variables.$primary;
        margin-bottom: 20px;
    }

    .intro {
        max-width: 600px;
        margin: 0 auto 25px;
    }
}

.contacto-opciones {
    p {
        margin-top: 15px;
    }
}

.contacto-container {
    margin: 0 auto;
    text-align: center;
}

.mapa-iframe {
    border-radius: 10px;
}