@use '../abstracts/variables';

.sobre-mi {
  padding: 60px 20px;

  .sobre-mi-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    gap: 40px;
    align-items: center;


// RESPONSIVE
  
    @media (max-width: 576px) {
      flex-direction: column;
      gap: 20px;
    }

    .sobre-mi-texto {
      flex: 1;

      h2 {
        color: variables.$primary;
        margin-bottom: 20px;
      }

      h3 {
        color: variables.$primary;
        margin-top: 25px;
      }
    }

    .sobre-mi-imagen {
      flex: 1;
      text-align: center;

      img {
        max-width: 100%;
        border-radius: 14px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
      }
    }
  }

  .servicios {
    ul {
      padding-left: 20px;
    }

    li {
      margin-bottom: 8px;
    }
  }
}
