@use 'abstracts/variables';
@use 'abstracts/mixins';

@use 'base/reset';
@use 'base/base';

@use 'layout/navbar';
@use 'layout/hero';
@use 'layout/footer';

@use 'components/buttons';
@use 'components/cards';
@use 'components/gallery';
@use 'components/faqs';

@use 'pages/home';
@use 'pages/caminatas';
@use 'pages/contacto';
@use 'pages/sobremi';

